table
  border-collapse: collapse

!oscar_red = #ac1b17
!link_highlight = #777777

a
  text-decoration: none
  &:hover
    text-decoration: underline
  &:visited
    color: blue
  img
    border: none

.fieldWithErrors
  color: red

.nominee_name
  font-style: italic

html
  background= !oscar_red
  font-family: Helvetica

body
  width: 1000px
  margin-left: auto
  margin-right: auto
  margin-bottom: 1cm
  background: white
  border: 2px solid black

#banner
  font-size: 30pt
  font-weight: bold
  padding: 5mm
  text-align: center
  background= darkred
  border-bottom: 2px solid black
  a
    color: white
    text-decoration: none
    text-shadow: black 5px 5px 1px
    &:hover
      text-shadow: black 8px 8px 1px

#main
  padding: 5mm

#footer
  font-size: 10pt
  background: #DDD
  padding: 2mm
  text-align: right

nav
  text-align: center
  font-size: 14pt
  margin-bottom: 5mm
  padding: 10px
  background: black
  color: white
  display: block
  .name
    font-size: 18pt
  a
    color: white
    padding: 3px 10px 3px 10px
    -webkit-border-radius: 5px
    -moz-border-radius: 5px
    &:visited
      color: white
    &:hover
      text-decoration: none
      background: !link_highlight
  #hello
    margin-bottom: 5px
    color: yellow

#category_nav
  color: white
  z-index: 1
  width: 500px
  background: black
  position: fixed
  top: 100px
  right: -450px
  -webkit-transition: right 1s ease
  -moz-transition: right 1s ease
  &:hover
    right: -150px
  ul
    padding: 10px
    //padding-right: 200px
    display: inline-block
  li
    list-style-type: none
    padding: 3px
  a
    color: white
    padding: 3px
    -webkit-border-radius: 5px
    -moz-border-radius: 5px
    &:hover
      text-decoration: none
      background: !link_highlight
  #tab
    display: inline-block
    width: 50px
    .text
      -webkit-transform: rotate(-90deg)
      -moz-transform: rotate(-90deg)
      position: relative
      top: -250px
      font-size: 18pt
      padding: 10px

#points
  margin-bottom: 1cm
  text-align: center
  font-size: 18pt

#save_picks
  text-align: center
  input
    font-size: 24pt

.category
  margin: 4mm
  margin: 2mm
  margin-bottom: 20px
  background: #DDD
  padding: 5px
  -webkit-border-radius: 5px
  -moz-border-radius: 5px
  .category_name
    font-size: 14pt
    font-weight: bold
    padding: 2mm
    .points
      font-size: 9pt
      font-weight: normal
  .nominees
    margin-left: 5mm
    .nominee
      margin-left: 10px
      padding: 3px
      display: inline-block
      .film
        font-size: 12pt
        font-weight: bold
    .nominee_name
      font-size: 10pt
    .pick
      display: inline-block
    .winning_nominee
      padding: 1mm
      color: white
      a
        color: white
    .correct_nominee
      background: green
    .wrong_nominee
      background: red

form
  .nominees
    .nominee
      -webkit-border-radius: 5px
      -moz-border-radius: 5px
      &:hover
        background: #CCC

#new_category
  margin-bottom: 1cm

table
  caption
    font-size: 12pt
    font-weight: bold
  margin: auto
  th
    padding: 2mm
    background: lightgray
  td
    padding: 1mm

#standings
  margin-bottom: 1cm
  .points
    text-align: right
  .correct
    text-align: right
  .self
    background: lightblue

#results_summary
  margin-bottom: 1cm
  .category
    font-weight: bold
  .film
  .nominee

#nominations_header
  font-size: 12pt
  font-weight: bold
  text-align: center

#players_picks
  margin: 0
  margin-top: 1cm
  td
    padding: 2mm
