a
  text-decoration: none
  &:hover
    text-shadow: gray 1pt 1pt 1pt
  &:visited
    color: blue

.fieldWithErrors
  color: red

body
  width: 1000px
  margin-left: auto
  margin-right: auto

#banner
  font-size: 300%
  font-weight: bold
  padding: 5mm
  text-align: center
  a
    color: black

#logged_in_player
  text-align: center
  font-size: 125%
  margin-bottom: 5mm
  .name
    font-size: 150%

#points
  margin-bottom: 1cm
  text-align: center
  font-size: 150%

#save_picks
  text-align: center
  input
    font-size: 200%

.category
  display: inline-block
  margin: 4mm
  .pick
    margin-right: 2mm
    margin-left: 2mm
  .winning_nominee
    color: white
    background: green

#new_category
  margin-bottom: 1cm

#standings
  table
    caption
      font-size: 120%
      font-weight: bold
    margin: auto
    th
      padding: 2mm
    .points
      text-align: right
    .correct
      text-align: right
  margin-bottom: 1cm
