table
  border-collapse: collapse

!oscar_red = #ac1b17

a
  text-decoration: none
  &:hover
    text-decoration: underline
  &:visited
    color: blue

.fieldWithErrors
  color: red

html
  background= !oscar_red
  font-family: Helvetica

body
  width: 800px
  margin-left: auto
  margin-right: auto
  margin-bottom: 1cm
  background: white
  border: 2px solid black

#banner
  font-size: 300%
  font-weight: bold
  padding: 5mm
  text-align: center
  background= darkred
  border-bottom: 2px solid black
  a
    color: white
    text-decoration: none
    text-shadow: black 5px 5px 1px
    &:hover
      text-shadow: black 8px 8px 1px

#main
  padding: 5mm

#logged_in_player
  text-align: center
  font-size: 125%
  margin-bottom: 5mm
  margin-top: 5mm
  .name
    font-size: 150%
  a
    padding-left: 5mm
    padding-right: 5mm

#points
  margin-bottom: 1cm
  text-align: center
  font-size: 150%

#save_picks
  text-align: center
  input
    font-size: 200%

.category
  margin: 4mm
  border: 1px solid black
  margin: 2mm
  .category_name
    font-size: 130%
    font-weight: bold
    background: lightgray
    padding: 2mm
    .points
      font-size: 80%
      font-weight: normal
  .nominees
    margin-left: 5mm
    .pick
      display: inline-block
    .winning_nominee
      padding: 1mm
      color: white
      a
        color: white
    .correct_nominee
      background: green
    .wrong_nominee
      background: red
    .nominee
      display: inline-block
      .nominee_name
        font-style: italic
      .film
        margin-left: 3mm
        font-size: 120%

#new_category
  margin-bottom: 1cm

#standings
  table
    caption
      font-size: 120%
      font-weight: bold
    margin: auto
    th
      padding: 2mm
      background: lightgray
    td
      padding: 1mm
    .points
      text-align: right
    .correct
      text-align: right
  margin-bottom: 1cm

#results_header
  font-size: 150%
  text-align: center
