a {
  text-decoration: none; }
  a:hover {
    text-shadow: gray 1pt 1pt 1pt; }
  a:visited {
    color: blue; }

.fieldWithErrors {
  color: red; }

body {
  width: 1000px;
  margin-left: auto;
  margin-right: auto; }

#banner {
  font-size: 300%;
  font-weight: bold;
  padding: 5mm;
  text-align: center; }
  #banner a {
    color: black; }

#logged_in_player {
  text-align: center;
  font-size: 125%;
  margin-bottom: 5mm; }
  #logged_in_player .name {
    font-size: 150%; }

#points {
  margin-bottom: 1cm;
  text-align: center;
  font-size: 150%; }

#save_picks {
  text-align: center; }
  #save_picks input {
    font-size: 200%; }

.category {
  display: inline-block;
  margin: 4mm; }
  .category .pick {
    margin-right: 2mm;
    margin-left: 2mm; }
  .category .winning_nominee {
    color: white;
    background: green; }
    .category .winning_nominee a {
      color: white; }

#new_category {
  margin-bottom: 1cm; }

#standings {
  margin-bottom: 1cm; }
  #standings table {
    margin: auto; }
    #standings table caption {
      font-size: 120%;
      font-weight: bold; }
    #standings table th {
      padding: 2mm; }
    #standings table .points {
      text-align: right; }
    #standings table .correct {
      text-align: right; }
