a {
  text-decoration: none; }
  a:hover {
    text-shadow: gray 1pt 1pt 1pt; }
  a:visited {
    color: blue; }

.fieldWithErrors {
  color: red; }

#points {
  margin-bottom: 1cm; }

.category {
  margin-bottom: 5mm; }
  .category .pick {
    margin-right: 2mm;
    margin-left: 2mm; }

#new_category {
  margin-bottom: 1cm; }
