.ui.header.large Standings

%table#standings.ui.table.basic.compact
  %tbody
    - entries.each do |entry|
      %tr
        %th.player
          = player_label(entry.player, logged_in_player == entry.player ? 'blue' : 'black')
        %td.twelve.wide
          .progress.ui{class: standing_progress_color(entry, entries)}
            .bar{style: "width: #{progress_percentage(entry, categories)}%"}
            %span.points= entry.points if show_progress_points?(contest_year)
