%h2 Welcome to Oscars Madness!

%h3 How to play

%p
  Just login and make your picks. As the oscars are awarded, you'll rack up points for the nominees you correctly picked. Most points at the end of the night wins.
%p
  You can change your picks as many times as you want until the show starts.

%h3 No e-mail required
%p
  If you're here from facebook, signing up is exactly 3 clicks away. Your account is created with your picks ready to go. If you want a different way to log in, just let me know and I'll set you up.

%h3 Prizes

%p
  There's only 1 prize: FREE MARCH MADNESS! The winner will get free entry into my march madness tournament for a chance to win lots of money!
