%table#standings
  %tr#header
    %th
      player
    %th
      points
    %th
      correct
  - @players.each do |player|
    = render :partial => 'players/standing', :locals => {:player => player}

- @categories.each do |category|
  = render :partial => 'categories/category', :locals => {:category => category}
