.ui.grid.vertically.very.relaxed

  .row
    .column
      = render 'layouts/missing_picks'

  .row
    .column
      = render 'standings'

  .row
    .column
      .categories
        = render categories
