#standings
  %table{:border => '1px solid black'}
    %caption
      standings
    %tr#header
      %th
        player
      %th
        correct
      %th
        points
    - @players.each do |player|
      = render :partial => 'players/standing', :locals => {:player => player}

#results_header= 'results'

- @categories.each do |category|
  = render :partial => 'categories/category', :locals => {:category => category, :show_declare_winners => logged_in_as_admin?}
