#standings
  %table{:border => '1px solid black'}
    %caption
      standings
    %tr#header
      %th
        player
      %th
        correct
      %th
        points
    - @entries.each do |entry|
      = render :partial => 'players/standing', :locals => {:entry => entry}

= render :partial => 'results_summary'

#nominations_header= 'all nominations'

- @categories.each do |category|
  = render :partial => 'categories/category', :locals => {:category => category, :show_declare_winners => logged_in_as_admin?}
