.ui.grid.vertically.very.relaxed

  .row
    .column
      -# Just using grid to center the table
      .ui.grid
        .one.wide.column
        .fourteen.wide.column
          = render 'standings'
        .one.wide.column

  .row
    .column
      .categories
        = render categories
