.ui.grid.vertically.very.relaxed
  .row
    .column
      .ui.segment
        This site accesses your name and profile picture from Facebook.
        Your information on this site is not shared with anyone.
