%div  
  = link_to('new', new_film_path)

- @films.each do |film|
  .film
    .name= link_to(film.name, edit_film_path(film))
    .nominations_size= pluralize(film.nominations.size, 'nominations')
    .nominations
      - film.nominations.each do |nomination|
        .nomination= nomination.name
