%tr
  %td.name
    - show_link = !admin_config.picks_editable || logged_in_as_admin?
    = link_to_if show_link, entry.player.name, player_picks_path(entry.player)
  %td.correct
    = entry.picks.correct.size
  %td.points
    = entry.points
