%h2= 'Make your picks'

%p
  Click on the nominees and click the save button to the right.
  %br
  You can change your picks as much as you want until the show starts.

= form_tag update_picks_path, :method => :put do
  .floating-save.ui.menu.vertical.secondary
    .item
      = submit_tag 'Save', class: 'ui button massive green'

  = render categories
