%h2= 'Make your picks'

%p
  Click on the nominees and click the save button at the bottom.
  %br
  You can change your picks as much as you want until the show starts.

= form_tag update_picks_path, :method => :put do
  = render categories
  = submit_tag
