%h2= 'make your picks'

%p
  click on the nominees and click the save button at the bottom.
  %br
  you can change your picks as much as you want up until i lock them down just before the show starts sunday night.

- form_tag player_update_picks_path, :method => :put do
  - @categories.each do |category|
    = render :partial => 'categories/category', :locals => {:category => category, :entry => @entry, :editable => true}
  #save_picks= submit_tag
