body {
  background-color: #eee;
  font-family: Arial, sans-serif;
}

#banner {
  // Giant logo
  #logo a {
    font-size: 5em;
    font-weight: bold;
    color: white;
  }
}

// main content padding top/bottom
$bannerOffset: 150px;
#main {
  padding-top: $bannerOffset;
  padding-bottom: 20px;
}

#standings {
  // Remove dividers from standings
  tr, thead {
    border-style: none;
  }
  // Align player and bold
  .player {
    text-align: right;
    font-weight: bold;
  }
  thead tr th {
    font-weight: bold;
  }
}

// Anchor for category to offset banner
a.category-anchor {
  visibility: hidden;
  display: block;
  position: relative;
  top: -$bannerOffset;
}

// Category header points should be bold
.category-info .points {
  font-weight: bold;
}

// nominee label and radio cursor should be pointer
.nominee {
  label, input[type=radio] {
    cursor: pointer;
  }
}

// Position floating save button
form .floating-save.menu {
  position: fixed;
  top: $bannerOffset + 10px;
  right: -75px;
  z-index: 1;
}

// Spacing for player labels that span multiple rows
.labels .player.label {
  margin-top: 0.2em;
  margin-bottom: 0.2em;
}
