body {
  background-color: #eee;
}

#banner {
  #logo span {
    font-size: 5em;
    font-weight: bold;
    color: white;
  }
}

@bannerOffset: 100px;

#main {
  padding-top: @bannerOffset;
}

img.avatar {
  height: 30px;
  width: 30px;
}

#standings {
  .player {
    text-align: right;
    div {
      display: inline-block;
    }
    .name {
      font-weight: bold;
    }
  }
  tr {
    border-style: none;
  }
}

// Anchor for category to offset banner
a.category-anchor {
  visibility: hidden;
  display: block;
  position: relative;
  top: -@bannerOffset;
}

.category-info {
  .points {
    font-weight: bold;
    float: right;
  }
}

.pick {
  width: 3em;
  height: 3em;

  .player-name {
    font-size: .7em;
  }
}
