body {
  background-color: #eee;
}

#banner {
  #logo span {
    font-size: 5em;
    font-weight: bold;
    color: white;
  }
}

@bannerOffset: 100px;

#main {
  padding-top: @bannerOffset;
}

#standings {
  .player {
    text-align: right;
    div {
      display: inline-block;
    }
    .name {
      font-weight: bold;
    }
  }
}

// Anchor for category to offset banner
a.category-anchor {
  visibility: hidden;
  display: block;
  position: relative;
  top: -@bannerOffset;
}

.pick {
  width: 3em;
  height: 3em;

  .player-name {
    font-size: .7em;
  }
}
