body {
  background-color: #eee;
}

#banner {
  #logo span {
    font-size: 5em;
    font-weight: bold;
    color: white;
  }
}

@bannerOffset: 130px;

#main {
  padding-top: @bannerOffset;
  padding-bottom: 20px;
}

#standings {
  tr, thead {
    border-style: none;
  }
  .player {
    text-align: right;
    font-weight: bold;
  }
}

// Anchor for category to offset banner
a.category-anchor {
  visibility: hidden;
  display: block;
  position: relative;
  top: -@bannerOffset;
}

.category-info {
  .points {
    font-weight: bold;
    float: right;
  }
}

.labels .player.label {
  // Spacing if labels span multiple rows
  margin-top: 0.2em;
  margin-bottom: 0.2em;
}
