%a.category-anchor{href: '#top'}

#banner.ui.menu.inverted.fixed
  #logo.menu.item
    %span Oscars Madness

  #menu.ui.secondary.menu

    %a#categories-toggle.item.ui.button Categories
    %a.item.ui.button{href: edit_picks_path} Picks

    .menu.right
      - if logged_in_player
        %a.item.ui.button{href: logout_path} Logout
        .item= player_label(logged_in_player, 'blue')
      - else
        %a.item.ui.button{href: login_path} Login
