%a.category-anchor{href: '#top'}

#banner.ui.menu.inverted.fixed.borderless.fitted
  #logo.item
    %a.header.ui{href: root_path} Oscars Madness

  .menu.right

    %a#categories-toggle.item
      Categories

    - if logged_in_player
      #logged-in-player.item.ui.dropdown
        = player_label(logged_in_player, 'blue')
        .menu.inverted
          - if picks_editable?
            %a.item{href: edit_picks_path} Picks
          = link_to 'Logout', logout_path, class: 'item'

    - else
      %a.item.ui{href: login_path} Login

    #contest_year_select.item= contest_year_select
