- if logged_in? && missing_picks.any? && picks_editable?
  .header.segment.ui.inverted.red
    %p You are missing #{pluralize(missing_picks.size, 'pick')}.
    %p
      %a.ui.button.green{href: edit_picks_path} Finish your picks
